* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(211, 68, 112)

}
/* dimesionamento immagine */
img {
    float: left;
    border-radius: 8px;
    width: 33.3%;

}
/* contenitore principale */
.conteiner {
    background-color: white;
    margin: auto;
    width: 920px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}
/* allineamento header */
.header-align {
    text-align: center;
    padding: 2rem ;
}

.sott-all {
    padding: 1.5rem;
}

/* box */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.raw {
    float: left;
    background-color: black;
    margin: 10px;
    width: calc(33.3% - 20px);
    box-shadow: 5px rgb(24, 11, 172);
    border-radius: 8px;
}

.box-align {
    float:left;
    color: white;
    padding: 0.5rem;
    width: calc(100% - 33.3%);
    
}